.booking-modal-container {
  .modal-content {
    .modal-header {
      border-bottom: none;
      .left-modal-header {
        padding-left: 15px;
        font-weight: 600;
      }
      .right-modal-header {
        padding-right: 15px;
      }
    }
  }
}
